body {
    font-family: Arial, Helvetica, sans-serif;
    }

header {
    background-color: #ff67cc;
    padding: 50px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: bolder;
    padding: 80px;
}

a:hover {
    text-decoration: underline;
    color: tomato;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

section {
    margin:  20px;
}

footer {
    background-color: #c53294;
    padding: 10px;
    text-align: center;
}

#text {
    color: white;
}

.aqua {
    color: aqua;
    font-weight: bold;
}

p::first-letter {
    color: black;
    font-weight: bold;
}

[href*="https://www.instagram.com/hanz_zolo_/"]{
    font-weight: 10;
    color: aqua;
}

[href*="mailto:epdwiputra@gmail.com"]{
    font-weight: 10;
    color: aqua;
}

section {
    border: 1px solid #9be3ff;
    box-shadow: 0 0 5px #a4e5ff;
    padding: 15px;
    margin: 20px;
}